body{
	background-color:#2c2d31;
	margin:0px;
	padding:0px;
	font-family:arial;
}

div.site{
	width:901px;
	height:auto;
	margin:0 auto;
}
	
div.header{
	margin-top:13px;
	height:67px;
	width:100%;
	border-bottom:4px solid #3e3f43;
}
	
div.left-header{
	margin-left:8px;
	height:47px;
	width:550px;
	float:left;
}
	
div.site-logo{
	width:269px;
	height:47px;
	background-image:url('assets/logo.png');
	float:left;
}
div.menu{
	margin-left:269px;
	width:281px;
	height:47px;
	position:relative;
}
	
div.menu-item{
	float:left;
	position:absolute;
	bottom:0px;
	font-size:13px;
}
	
font.home{
	margin-left:12px;
}

font.shop{
	margin-left:20px;
}
	
font.about{
	margin-left:16px;
}
	
font.contact{
	margin-left:17px;
}
	
a.home-on{
	color:#a8a8a6;
	text-decoration:none;
}

a.shop-on{
	color:#a8a8a6;
	text-decoration:none;
}

a.about-on{
	color:#a8a8a6;
	text-decoration:none;
}

a.contact-on{
	color:#a8a8a6;
	text-decoration:none;
}

a.home:hover{
	color:#a8a8a6;
	text-decoration:none;
}

a.shop:hover{
	color:#a8a8a6;
	text-decoration:none;
}

a.about:hover{
	color:#a8a8a6;
	text-decoration:none;
}

a.contact:hover{
	color:#a8a8a6;
	text-decoration:none;
}

a.home{
	color:#6c7073;
	text-decoration:none;
}

a.shop{
	color:#6c7073;
	text-decoration:none;
}

a.about{
	color:#6c7073;
	text-decoration:none;
}

a.contact{
	color:#6c7073;
	text-decoration:none;
}

div.basket{
    float:right;
    margin-top:22px;
    height:35px;
    width:94px;
    line-height:35px;
    background-color:#292a2e;
    background-image: url('assets/basket.png');
    background-repeat: no-repeat;
    background-position: 7px 5px;
    font-size:13px;
    color:#5eaac2;
}

p.basket-items{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 34px;
}

div.large-image{
    width: 885px;
    height: 235px;
    background-image: url('assets/new_arrivals.jpg');
    margin-top: 9px;
    margin-bottom:10px;
    padding-top: 62px;
    padding-left: 16px;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 3px;
}

div.content{
    height: 468px;
    width: 901px;
    border-bottom:4px solid #3e3f43;
}

div.products{
    width: 285px;
    height:444px;
    float:left;
}

div.products-header{
    height:46px;
    background-color: #262729;
    padding-left: 13px;
    line-height:46px;
    font-size:30px;
    color:#64a9ca;
    margin-bottom:11px;
}

div.left-product{
    float: left;
}

div.product-option{
    width:70px;
    height:103px;
    margin-bottom:24px;
    margin-right:8px;
}

div.product-image{
    width:70px;
    height:70px;
    margin-bottom: 3px;
}

div.product-basket{
    height:21px;
    width:38px;
    padding-left: 32px;
    background-color: #28282a;
    background-image: url('assets/basket.png');
    background-repeat: no-repeat;
    background-position: 4px 3px;
    font-size: 9px;
    color: #7d818c;
    padding-top:4px;
    padding-bottom:5px;
}

a.basket{
    text-decoration:none;
}

div.right-product{
    width:207px;
    height:357px;
    float: left;
}

div.product-title{
    color: #ffffff;
}

div.product-description{
    color: #ffffff;
    font-size: 11px;
}

div.product-info{
    height:103px;
    margin-bottom:24px;
}

div.style{
    width: 285px;
    height:444px;
    margin-left: 11px;
    padding-left: 10px;
    border-left:2px dashed #3e3f43;
    float:left;
}

div.medium-image{
    width:285px;
    height:286px;
    margin-bottom: 3px;
}

div.style-header{
    width:285px;
    height:46px;
    background-color: #262729;
    color:#63a8c7;
    text-align: center;
    line-height: 46px;
    font-size: 28px;
    margin-bottom: 9px;
}

div.style-text{
    color:#969696;
    font-size:13px;
}

div.facebook{
    background-image: url('assets/facebook.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    width:182px;
    height:28px;
    margin-top:9px;
    float:right;
    color:#767f88;
    line-height: 20px;
    position: relative;
}

div.facebook b.join-us{
    position:absolute;
    bottom:-3px;
}